<section id="technologies">
    <h2 class="titulo">Technologias</h2>
    <p class="descripcion">Estas son las tecnologias que manejo:</p>

    <div class="tecnologias">
        <div class="frontend">
            <div class="tecnologia-titulo">
                <h3>Frontend</h3>
            </div>

            <div class="tecnologias-grid">
                <div class="tecnologia-item">
                    <img src="assets/img/html.png" alt="HTML5">
                    <p>HTML5</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/css.png" alt="CSS3">
                    <p>CSS3</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/javascript.png" alt="JavaScript">
                    <p>JavaScript</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/angular.png" alt="Angular">
                    <p>Angular</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/react.png" alt="React">
                    <p>React</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/vue.png" alt="Vue.js">
                    <p>Vue.js</p>
                </div>
            </div>

        </div>

        <div class="backend">
            <div class="tecnologia-titulo">
                <h3>Backend</h3>
            </div>

            <div class="tecnologias-grid">
                <div class="tecnologia-item">
                    <img src="assets/img/html.png" alt="HTML5">
                    <p>HTML5</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/css.png" alt="CSS3">
                    <p>CSS3</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/javascript.png" alt="JavaScript">
                    <p>JavaScript</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/angular.png" alt="Angular">
                    <p>Angular</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/react.png" alt="React">
                    <p>React</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/vue.png" alt="Vue.js">
                    <p>Vue.js</p>
                </div>
            </div>

        </div>
        <div class="fullstack">
            <div class="tecnologia-titulo">
                <h3>Fullstack</h3>
            </div>

            <div class="tecnologias-grid">
                <div class="tecnologia-item">
                    <img src="assets/img/html.png" alt="HTML5">
                    <p>HTML5</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/css.png" alt="CSS3">
                    <p>CSS3</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/javascript.png" alt="JavaScript">
                    <p>JavaScript</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/angular.png" alt="Angular">
                    <p>Angular</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/react.png" alt="React">
                    <p>React</p>
                </div>
                <div class="tecnologia-item">
                    <img src="assets/img/vue.png" alt="Vue.js">
                    <p>Vue.js</p>
                </div>
            </div>

        </div>

    </div>
</section>