<header class="header-profile" id="inicio">
    <div class="profile-container">
        <img class="photo-profile" src="images/profile.webp" alt="Walter Alejandro Duchi Rivera" />
    </div>
    <div class="info-container">
        <h1 class="name">Walter Alejandro Duchi Rivera</h1>
        <p class="description">Soy Programador de Aplicaciones Web Full Stack</p>
    </div>
    <div class="disponibilidad">
        <span class="punto-verde"></span>
        <p>Disponible para nuevos proyectos</p>
    </div>
    <div class="apps-profile">
        <a href="https://github.com/Walter-Duchi" target="_blank" rel="noopener">
            <img class="icon-app" src="icons/github.svg" alt="GitHub" />
        </a>
        <a href="https://www.linkedin.com/in/walter-duchi/" target="_blank" rel="noopener">
            <img class="icon-app" src="icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="mailto:waltduchi@gmail.com" target="_blank" rel="noopener">
            <img class="icon-app" src="icons/email.svg" alt="Email" />
        </a>
        <a href="https://wa.me/593993516268" target="_blank" rel="noopener">
            <img class="icon-app" src="icons/whatsapp.svg" alt="WhatsApp" />
        </a>
    </div>
</header>