<section id="proyects">
    <h2>Proyectos</h2>
    <nav>
        <a href="">Todos</a>
        <a href="">Full Stack</a>
        <a href="">Front End</a>
        <a href="">Back End</a>
        <a href="">Multiplaforma</a>
    </nav>
    <div class="proyect-card">
        <img src="" alt="Imagen del proyecto" />
        <p>backend</p>
        <h3>Titulo del proyecto</h3>
        <p>Descripcion del proyecto</p>
        <a href="">Ver proyecto</a>
        <a href="">Codigo fuente</a>
        <div>
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Angular</span>
        </div>
    </div>
</section>