<section id="proyects">
    <div class="proyect-header">
        <h2>Mis Proyectos Destacados</h2>
        <nav class="proyect-nav">
            <a href="">Todos</a>
            <a href="">Full Stack</a>
            <a href="">Front End</a>
            <a href="">Back End</a>
            <a href="">Multiplaforma</a>
        </nav>
    </div>

    <div class="proyect-container">
        <div class="proyect-card">
            <div>
                <img src="images/proyect.webp" alt="Imagen del proyecto" />
            </div>
            <div class="proyect-info">
                <p>backend</p>
                <h3>Spring Backend</h3>
                <p>API Rest, Backend con Spring Boot, Spring JPA y Spring Security</p>
                <div class="proyect-links">
                    <a class="btn" href="">Ver proyecto</a>
                    <a class="btn" href="">Codigo fuente</a>
                </div>

                <div class="proyect-tags">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>Angular</span>
                </div>
            </div>

        </div>

        <div class="proyect-card">
            <div>
                <img src="images/proyect.webp" alt="Imagen del proyecto" />
            </div>
            <div class="proyect-info">
                <p>backend</p>
                <h3>Spring Backend</h3>
                <p>API Rest, Backend con Spring Boot, Spring JPA y Spring Security</p>
                <div class="proyect-links">
                    <a class="btn" href="">Ver proyecto</a>
                    <a class="btn" href="">Codigo fuente</a>
                </div>

                <div class="proyect-tags">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>Angular</span>
                </div>
            </div>

        </div>
    </div>

</section>